body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(45deg, #ff7575, #ff5e5e, #ff4646, #ff2d2d, #f90505);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
}


p {
    margin-bottom: 10px;
}

